div.informea {
    -moz-border-radius: 50px/50px;
    background-color:#308FC0;
    border:solid 2px #308FC0;
    width:200px;
    height:180px;
    background: linear-gradient(#3398CB, #26739A);
}

div.informea>.title {
    font-size: 30px;
    color: #F7FAF7;
    background-image:url(images/UNlogo.png);
    background-repeat: no-repeat;
    padding: 0px 15px 10px 55px;
    margin: 3px 3px 3px 3px;
}

div.informea>.text {
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 5px;
    line-height: 20px;
}

input, textarea{
    width: 82%;
    float: left;
    height: 22px !important;
    border: 1px solid #FFCC66;
}

div.informea>.link {
    color:#CCCCCC;
    text-align:right;
    text-decoration:none;
}

div.informea>.link a {
    color:#CCCCCC;
    text-align:right;
    text-decoration:none;
    padding-right: 4px;
}

div.informea>form {
    background-image:url(images/search.png);
    background-repeat: no-repeat;
    background-position: right;

    background-color: #FFCC66;
    margin-left: 3px;
    margin-right: 3px;
    height: 26px;
}

